<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="clients-list"></ion-back-button>
    </ion-buttons>
    <ion-title>DS Develop</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cadastro de Clientes</ion-card-title>
      <ion-card-subtitle color="danger">Todos os campos são obrigatórios</ion-card-subtitle>
    </ion-card-header>

    <form [formGroup]="fGroupClient">
      <ion-card-content>
        <ion-item *ngIf="client">
          <ion-label position="floating">Nome Completo</ion-label>
          <ion-input type="text" formControlName="fullName" clearInput>
          </ion-input>
        </ion-item>

        <ion-item *ngIf="client">
          <ion-label position="floating">CPF</ion-label>
          <ion-input type="number" formControlName="cpf" maxlength="11" clearInput>
          </ion-input>
        </ion-item>

        <ion-item *ngIf="client">
          <ion-label position="floating">
            CEP
          </ion-label>
          <ion-input type="text" (ionBlur)="searchCep();" formControlName="cep" clearInput>
          </ion-input>
        </ion-item>

        <ion-item *ngIf="client">
          <ion-label position="floating">
            Endereço
          </ion-label>
          <ion-input type="text" formControlName="rua" readonly>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="client">
          <ion-label position="floating">
            Número
          </ion-label>
          <ion-input type="text" formControlName="numero" clearInput>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="client">
          <ion-label position="floating">
            Bairro
          </ion-label>
          <ion-input type="text" formControlName="bairro" readonly></ion-input>
        </ion-item>
        <ion-item *ngIf="client">
          <ion-label position="floating">
            Cidade
          </ion-label>
          <ion-input type="text" formControlName="cidade" readonly></ion-input>
        </ion-item>

        <ion-item *ngIf="client">
          <ion-label position="floating">
            Estado
          </ion-label>
          <ion-input type="text" formControlName="uf" readonly></ion-input>
        </ion-item>

        <ion-item *ngIf="client">
          <ion-label position="floating">Telefone
          </ion-label>
          <ion-input type="number" formControlName="phone" inputmode="tel" clearInput>
          </ion-input>
        </ion-item>

        <ion-item *ngIf="client">
          <ion-label position="floating">Valor Limite</ion-label>
          <ion-input type="number" formControlName="maxValue" clearInput>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="client">
          <ion-label position="floating">Data Limite</ion-label>
          <ion-input type="number" formControlName="maxPaymentDay" placeholder="30 dias para pagar" clearInput>
          </ion-input>
        </ion-item>
        <ion-item *ngIf="client">
          <ion-label position="floating">Avisar a cada</ion-label>
          <ion-input type="number" formControlName="timeToPush" placeholder="10 Dias">
          </ion-input>
        </ion-item>

        <ion-item lines="none" *ngIf="client">
          <ion-label>Notificar por</ion-label>
          <ion-select multiple="false" formControlName="pushType" placeholder="Selecione...">
            <ion-select-option value="mail">E-mail</ion-select-option>
            <ion-select-option value="push">Push</ion-select-option>
            <ion-select-option value="both">Ambos</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="center-save__button">
          <ion-button (click)="saveClient()" [disabled]="!fGroupClient.valid" expand="block">
            <ion-icon slot="end" name="save"></ion-icon>
            Salvar
          </ion-button>
        </div>
      </ion-card-content>
    </form>
  </ion-card>

</ion-content>