<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/clients-list"></ion-back-button>
    </ion-buttons>
    <ion-title>DS Develop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cadastro de Fichas</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!--Lembrar de importar ReactiveForms no module.ts-->
      <form [formGroup]="fGroupRecord" (ngSubmit)="onSubmit()">

        <ion-item *ngIf="record" style="display:none">
          <ion-label position="stacked">Cliente</ion-label>
          <ion-input type="text" formControlName="clientId">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="record">
          <ion-label position="stacked">Código da Ficha</ion-label>
          <ion-input type="number" formControlName="recordCode" maxlength="11" clearInput></ion-input>
        </ion-item>

        <ion-item *ngIf="record" lines=" none">
          <ion-label position="stacked">
            Data da Venda
          </ion-label>
          <ion-input type="date" formControlName="recordDate" clearInput></ion-input>
        </ion-item>

        <ion-item *ngIf="record">
          <ion-label position="floating">Valor da Venda</ion-label>
          <ion-input type="number" formControlName="recordValue" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="record">
          <ion-label position="floating">Prazo máximo de pagamento</ion-label>
          <ion-input type="number" placeholder="10 Dias" formControlName="maxPaymentDay"></ion-input>
        </ion-item>

        <ion-item *ngIf="record">
          <ion-label position="floating"> Descrição da Venda</ion-label>
          <ion-textarea formControlName="recordDescription"></ion-textarea>
        </ion-item>
        <div class="center-save__button">
          <ion-button (click)="saveRecord()">
            <ion-icon slot="end" name="save"></ion-icon>
            Salvar
          </ion-button>
        </div>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>