<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>DS Develop</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar showCancelButton (ion-input)='filterList($e)' placeholder="Buscar cliente ou ficha">
    </ion-searchbar>

  </ion-toolbar>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button router-direction href="/client-register">
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list *ngIf="!clients.length">
    <ion-item *ngFor="let item of [0,1,2,3,5,6,7]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let client of clients">
      <ion-item button [routerLink]="['/client-details', client.id]">

        <ion-label>
          {{ client.name }}
          <p>CPF: {{ client.cpf }}</p>
          <p>Contato: {{client.phone}}</p>
          <!-- <p>Registrado em: {{ client.createdAt | date: 'short' }}</p> -->
        </ion-label>

        <!-- <ion-note color="primary" slot="end" *ngIf="client.phone">{{ client.phone }}</ion-note> -->
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteAlertConfirm(client.id)">
          <ion-icon slot="top" size="large" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>