<ion-header>
  <ion-toolbar mode="md" color="dark">
    <ion-icon slot="start" size="large" name="menu"></ion-icon>
    <ion-title>DS Develop</ion-title>

    <ion-icon class="margin__icon" slot="end" size="large" name="search"></ion-icon>
    <ion-icon class="margin__icon" slot="end" size="large" name="notifications">

    </ion-icon>
    <ion-icon class="margin__icon" slot="end" size="large" name="bookmarks"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title>Acesso Rápido</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-item lines="none" class="client__ion-item">
      <div class="left-icon__client">
        <ion-icon name="person" size="large" slot="start"></ion-icon>
      </div>
      <ion-label>CLIENTES
        <p class="p-sub__cards">LISTA DE CLIENTES</p>

      </ion-label>
    </ion-item>
  </ion-card>



  <ion-card>
    <ion-item lines="none" class="records__ion-item">
      <div class="left-icon__records">
        <ion-icon name="clipboard" size="large" slot="start"></ion-icon>
      </div>
      <ion-label>FICHAS
        <p class="p-sub__cards">LISTA DE FICHAS</p>

      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none" class="adjusts__ion-item">
      <div class="left-icon__adjusts">
        <ion-icon name="cog" size="large" slot="start"></ion-icon>
      </div>
      <ion-label>AJUSTES
        <p class="p-sub__cards">ACESSO AOS AJUSTES</p>
      </ion-label>
    </ion-item>
  </ion-card>


  <ion-card>
    <ion-card-header class="statistic__card">
      <ion-title>R$7.000,77</ion-title>
      <ion-card-subtitle>A receber / Semana</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <canvas #barWeacklyCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="statistic__card">
      <ion-card-title>R$3.600,45</ion-card-title>
      <ion-card-subtitle>Pendente / Mês</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineYearCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="statistic__card">
      <ion-card-title>Controle Financeiro</ion-card-title>
      <ion-card-subtitle>Mensal</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #barMonthlyCanvas></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>&copy; 2019 - EasyFicha</ion-title>
  </ion-toolbar>
</ion-footer>