<ion-header>
  <ion-toolbar mode="md" color="dark">
    <ion-icon slot="start" size="large" name="menu"></ion-icon>
    <ion-title>DS Develop</ion-title>

    <ion-icon slot="end" size="large" name="notifications"></ion-icon>

    <ion-icon slot="end" size="large" (click)="logout()" name="exit">
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-icon>

  </ion-toolbar>
</ion-header>
<!--- 
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button class="in-item__fab" router-direction href="/clients">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="in-item__fab" router-direction href="/fichas">
      <ion-icon name="clipboard"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab> -->

<ion-content>
  <ion-toolbar>
    <ion-searchbar showCancelButton (ion-input)='filterList($e)' placeholder="Buscar cliente ou ficha">
    </ion-searchbar>
    <!-- <ion-list>
      <ion-item *ngFor="let client of clients">
        <ion-label>{{client.name}}</ion-label>
        <ion-label>{{client.phone }}</ion-label>
      </ion-item>
    </ion-list>--->
  </ion-toolbar>

  <ion-card href="/clients-list">
    <ion-item lines="none" class="client__ion-item">
      <div class="left-icon__client">
        <ion-icon name="person" size="large" slot="start"></ion-icon>
      </div>
      <ion-label>CLIENTES
        <p class="p-sub__cards">Relação de clientes cadastrados</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card href="/record-list">
    <ion-item lines="none" class="records__ion-item">
      <div class="left-icon__records">
        <ion-icon name="clipboard" size="large" slot="start"></ion-icon>
      </div>
      <ion-label>FICHAS
        <p class="p-sub__cards">Relação de Fichas</p>

      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none" class="adjusts__ion-item">
      <div class="left-icon__adjusts">
        <ion-icon name="cog" size="large" slot="start"></ion-icon>
      </div>
      <ion-label>AJUSTES
        <p class="p-sub__cards">Abre as configurações</p>
      </ion-label>
    </ion-item>
  </ion-card>


  <ion-card>
    <ion-card-header class="statistic__card">
      <ion-card-subtitle>R$7.000,77</ion-card-subtitle>
      <ion-card-subtitle>A receber / Semana</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <canvas #barWeacklyCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="statistic__card">
      <ion-card-subtitle>R$3.600,45</ion-card-subtitle>
      <ion-card-subtitle>Pendente / Mês</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineYearCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="statistic__card">
      <ion-card-subtitle>Controle Financeiro</ion-card-subtitle>
      <ion-card-subtitle>Mensal</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #barMonthlyCanvas></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>&copy; 2019 - EasyFicha</ion-title>
  </ion-toolbar>
</ion-footer>