<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>DS Develop</ion-title>


    <ion-button (click)="presentActionSheet()" slot="end" color="dark">
      <ion-icon slot="icon-only" name="funnel"></ion-icon>
    </ion-button>


  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" showCancelButton animated (ionChange)='filterClients($event)' placeholder="Buscar Ficha">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button router-direction href="/client-register">
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list *ngIf="!records.length">
    <ion-item *ngFor="let item of [0,1,2,3]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>


    <ion-item-sliding *ngFor="let record of records">
      <ion-item button [routerLink]="['/record-details', record.id]" routerDirection="forward">

        <ion-label>
          <p>Código: {{ record.recordCode }}</p>
          <p>Valor: R${{record.recordValue}}</p>


          <!-- <p>Registrado em: {{ client.createdAt | date: 'short' }}</p> -->
        </ion-label>

        <!-- <ion-note color="primary" slot="end" *ngIf="client.phone">{{ client.phone }}</ion-note> -->
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteAlertConfirm(record.id)">
          <ion-icon slot="top" size="large" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Carregando mais clientes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>