<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/clients-list"></ion-back-button>
    </ion-buttons>
    <ion-title>DS Develop</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="contactCustomer(client.phone)">
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ client.fullName }} </ion-card-title>

      <ion-card-subtitle>
        {{ client.rua }},{{ client.numero }}
      </ion-card-subtitle>
      <ion-card-subtitle>{{ client.bairro }}</ion-card-subtitle>
      <ion-card-subtitle>{{ client.cidade }}-{{ client.uf }}</ion-card-subtitle>

      <ion-chip
        outline
        color="success"
        [routerLink]="['/record-register', clientId]"
      >
        <ion-icon name="document"></ion-icon>
        <ion-label>Ficha</ion-label>
      </ion-chip>
      <ion-chip
        outline
        color="primary"
        [routerLink]="['/client-register', clientId]"
      >
        <ion-icon name="create"></ion-icon>
        <ion-label>Editar</ion-label>
      </ion-chip>

      <ion-chip
        color="danger"
        (click)="deleteAlertConfirm(client.id)"
        outline="true"
      >
        <ion-icon name="trash"></ion-icon>
        <ion-label>Excluir</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>CPF:</ion-label>
        <ion-text color="dark">
          {{ client.cpf }}
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Telefone: </ion-label>

        <ion-text color="dark">{{ client.phone }} </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Limite Total:</ion-label>
        <ion-text color="dark"> R${{ client.maxValue }} </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Limite Restante:</ion-label>
        <ion-text color="dark"> R${{ client.maxValue }} </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Notificar por:</ion-label>
        <ion-text color="dark" *ngIf="client.pushType == 'both'">
          Celular/E-mail
        </ion-text>
        <ion-text color="dark" *ngIf="client.pushType == 'push'">
          Celular
        </ion-text>
        <ion-text color="dark" *ngIf="client.pushType == 'mail'">
          E-Mail
        </ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fichas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let record of records">
          <ion-list *ngIf="records.length < 0">
            <ion-label>Nenhuma Ficha Cadastrada</ion-label>
          </ion-list>
          <ion-item
            button
            [routerLink]="['/record-details', record.id]"
            routerDirection="forward"
            *ngIf="records.length > 0"
          >
            <ion-label>
              <p>Nº:{{ record.recordCode }}</p>
              <p>Data:{{ record.recordDate }}</p>
              <p>Valor:{{ record.recordValue }}</p>
              <p>Pago:{{ record.recordPaid }}</p>
            </ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option
              color="danger"
              (click)="deleteAlertConfirm(record.id)"
            >
              <ion-icon slot="top" size="large" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="start">
            <ion-item-option
              color="success"
              [routerLink]="['/record-register', client.id]"
            >
              <ion-icon slot="top" size="large" name="document"></ion-icon>
              Nova Ficha
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
